################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HafizAPI/.vs/HafizAPI/FileContentIndex/332d702e-1112-4e65-b1d9-73638b3045f8.vsidx
/HafizAPI/.vs/HafizAPI/FileContentIndex/ad02dcfb-c9a4-4a1e-86fe-41bdbeae1dc8.vsidx
/HafizAPI/.vs/HafizAPI/FileContentIndex/56268630-8463-4441-a936-a5745ce50ed1.vsidx
/.vs/Hafiz/FileContentIndex/74cd547f-2260-419b-904c-f7d05e896dfc.vsidx
/.vs/Hafiz/FileContentIndex
/HafizAPI/.vs/HafizAPI/FileContentIndex
